<div class="tasks">
  <form (submit)="addTask()">
    <input
      type="text"
      name="inputTask"
      id="inputTask"
      placeholder="Digite sua tarefa"
      class="task-input"
      [(ngModel)]="inputTask"
    />
    <input type="submit" value="Adicionar" class="task-add" />
  </form>
  <div
    class="task"
    *ngFor="let task of tasks; let i = index"
    class="task {{ task.completed ? 'done' : '' }}"
  >
    <div class="id">{{ i + 1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ task.content }}</div>
    <button class="delete" (click)="deleteTask(i)">Remover</button>
  </div>
</div>
